<form method="post" action="<%= bookmarks_path %>">
  <label for="bookmark_url">Bookmark URL</label>
  <input type="text" id="bookmark_url" name="bookmark_url"/>

  <input type="submit" value="Submit bookmark"/>
</form>
